:root {
  --primary: #109abd;
  --secondary: #0086a8;
  --tertiary: #006e8a;
  --grayInputLight: #555555;
}

body,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

input {
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

h1 {
  font-size: 38px;
  font-weight: 500;
}
